* {
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  background-image: url('../images/grass.jpg');
  min-width: 550px;
}

.header {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  color: #ffffff;
  margin-bottom: 20px;
  height: 60px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;

  font-family: 'Exo', sans-serif;
  width: 460px;
  text-align: center;
  line-height: 12px;
  color: #ffffff;
}

.poo-img {
  height: 18px;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  height: 330px;
  width: 660px;
  margin: 0 auto;
}

.grid-item {
  height: 6.66%;
  width: 3.33%;
  border: 1px solid #1e5631;  /* remove this eventually */
  background-color:#68bb59;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
  box-shadow: 5px 5px #1e5631;
}

.lose {
  background-image: url('../images/poo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #acdf87;
}

.bagged {
  background-image: url('../images/bag.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #68bb59;
}

.poo-span {
  color: #362204;
}