* {
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  background-image: url('../images/grass.jpg');
  min-width: 550px;
}

.header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  height: 60px;
}

.game-name {
  font-family: 'Amatic SC', cursive;
  color: #ffffff;
  font-weight: 700;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label {
  background-color: #ffffff;
}

.intro-container {
  display: block;
  margin: 60px auto;
  width: 50%;
  background-color: #acdf87;
  border-radius: 4px;
  padding: 20px;
  text-align: center;

  box-shadow: 5px 5px #1e5631;
}

.intro-instruct {
  font-weight: 600;
}

.diff-btns {
  display: flex;
}

.difficulties {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: 10px;
}

.button {
  width: 120px;
  background-color:#68bb59;
  color: #ffffff;
  border-radius: 4px;
  margin: auto 20px;
  padding: auto 10px;
}

.submit-btn {
  margin-top: 10px;
}

.game-btns {
  display: none;
  text-align: center;
  margin-top: 10px;
}

.game-info {
  display: none;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;

  font-family: 'Exo', sans-serif;
  width: 460px;
  text-align: center;
  line-height: 12px;
  color: #ffffff;
}

.poo-img {
  height: 18px;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  height: 330px;
  width: 330px;
  margin: 0 auto;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1e5631;
  background-color:#68bb59;
  font-size: 100%;
  font-weight: 600;
  box-shadow: 5px 5px #1e5631;
}

.lose {
  background-image: url('../images/poo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.bagged {
  background-image: url('../images/bag.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #68bb59;
}

.poo-span {
  color: #362204;
  display: inline-block;
}