* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/grass.jpg');
}

.header {
  text-align: center;
  height: 100px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  color: #ffffff;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.result {
  display: none;
  text-align: center;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  height: 600px;
  width: 600px;
  margin: 0 auto;
}

.grid-item {
  height: 10%;
  width: 10%;
  border: 1px solid gray;  /* remove this eventually */
  background-color: green;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
}

.mine {
  background-color: red;
}